.arrows-left,
.arrows-right {
    width: 18px !important;
    height: 28px;
    line-height: 28px;
    text-align: center;
    float: right;
    display: block;
    clear: both;
    font-size: x-small;
    padding-top: 0px;
    padding-right: 4px;
    cursor: pointer;
    font-weight: 100;
    color: rgb(119, 119, 119);
}

#sideMenuLink {
    display: block;
    font: 14px Arial, Helvetica, sans-serif;
    text-align: right;
    writing-mode: rl-tb;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    width: 400px;
    left: -180px;
    top: 290px;
    position: absolute;
    text-decoration: none;
}

#userProfileDrop {
    display: none;
    z-index: 10;
    top: 52px;
    float: left;
    right: 128px;
    padding-bottom: 0px;
}

.menu {
    position: fixed;
    color: rgba(91,91,91,1);
    background: #fff;
    white-space: nowrap;
    min-width: 120px;
    box-shadow: 0 0 20px rgba(91,91,91,.4);
    padding: 10px 0 5px 0;
    line-height: 100%;
    border: 1px solid #ccc;
}

.sub-menu {
    overflow-y: auto;
}

.profileMenuBak:hover {
    border: dashed 1px black;
}

.secondMenuWithNoChildMenus > a:hover {
    cursor: pointer !important;
    background-color: #e6e6e6 !important;
}

.secondMenuWithNoChildMenus > a {
    background-color: none !important;
}

.secondMenuWithNoChildMenus.active > a:hover {
    background-color: #007acc !important;
}

#firstLevelMenuContainer li {
    min-width: 100px;
    text-align: center;
}

.main {
    padding-top: 20px;
}