@{
    ViewBag.Title = "Content";

    string host = MHD.Original.Award.AppConfig.OriginalHost;
}

<!-- banner start -->
<div class="banner_content">
    <div class="content2">
        <div class="nav_box box ptop">
            <div class="nav">
                当前位置： <a href="host">漫画岛首页</a> > <a href="@Url.Action("Index","Home")">金龙奖</a> > <a href="@Url.Action("News","Home")">>大赛资讯</a> > <span class="cur">资讯详情</span>
            </div>
        </div>
        <div class="content_box box">
            <h1>第13届金龙奖启动 漫画岛开启全球征稿!</h1>
            <div class="time">腾讯动漫 发布时间：2016-01-21 21:23</div>
            <div class="cont">
                <div><img src="/img/jljv2.jpg" width="914" alt=""></div>

                <p>日前，第13届中国动漫金龙奖全球征稿正式启动，作为由国家新闻出版广电总局和广东省人民政府联合主办的中国国际漫画节（国家“十二五”规划的重点动漫节展）的官方赛事，组委会今年继续锐意创新，以“走心”作为创作主题，联手漫画岛，及微信表情重磅推出“最具人气动漫作品奖 ”“动漫表情奖”，引起社会各界的大力关注。</p>
                <p>
                    全新征稿平台，戳出你最爱的“国漫”
                </p>
                <p>
                    随着这两年互联网漫画平台的高速发展，国内漫画家的选择已不单单是向传统漫画杂志投稿，而更多的选择是向网络漫画平台输出。而喜爱看漫画的二次元小伙伴们也越来越将刷手机看漫画成为了自己每天的日常。
                </p>
                <p>
                    本届金龙奖就将与国内漫画APP综合排名第一位的漫画岛APP合作，据漫画岛APP数据显示，目前漫画岛APP的总注册用户人数已超过2500万，每日打开漫画岛APP看漫画的人数超过150万。由国际认证的数据机构易观智库最新出炉的2015年第三季中国移动动漫市场用户渗透率TOP10中，漫画岛APP渗透率为31.4%，排名第一。

                </p>
                <p>
                    此次与漫画岛的合作将会打造全新的漫画征稿平台，线上用户上传和投票功能，不仅能投稿参赛，粉丝还能在投稿参赛的作品中选出自己心目中最喜爱的作品，角逐由粉丝评选的“最具人气动漫作品奖”。值得一提的是，粉丝可发动群众为作品“戳”票，组委会将邀请戳票最多的粉丝出席颁奖典礼为作者颁奖，与获奖作者来一次亲密的接触。
                </p>
                <p>
                    动漫表情释放社交新力量
                </p>
                <p>
                    随着移动互联社交的壮大和发展，表情符号在国内被广泛应用，成为互联网上人际沟通最重要的组成部分。从2015年初春节红包开始流传的“谢谢老板”到“小崽子剧场”、“长草颜团子”、“猪仔和羊妹”、“桃子一家东北话”，动漫表情在人们日常聊天中变得越来越微妙有趣，有些甚至成为“社交爆款”，可以说动漫表情符号已经是不可或缺的一部分了。通过微信表情平台，动漫表情可能已经是全世界活跃度最高的产品，这些“小小的”动漫表情已然成为大大的创意平台。
                </p>
                <p>
                    据微信透露，目前微信表情商店每天的访问人数超过2000万，每周更新日有超过1.4亿人访问。最好的表情首周下载量就超过了2500万次，发送超过1.5亿次。这意味着，如果一个动漫表情足够优秀，就可以将自己的原创IP在上亿用户间进行传播。
                </p>
                <p>
                    本届金龙奖与微信表情强强联手，重磅推出“最佳动漫表情奖”，并将于3月1日正式接受投稿，面向各界寻找“表情帝”，让所有的动漫团队都可以借船出海，利用金龙奖和微信表情两大平台带来的巨大流量和传播曝光度，丰富原创IP的商业和社会价值，更在后续开发周边、游戏、影视等方面实现高价值变现，大大的提升了IP议价能力。与此同时，本届与往届的部分金龙奖优秀获奖作品的动漫形象也将在微信表情中供粉丝下载，让金龙奖获奖作品的动漫形象更加受到微信用户的欢迎。
                </p>
                <p>
                    同时，金龙奖将扩大游戏类竞赛单元，设置 “最佳PC游戏”“最佳网页游戏”“最佳手机游戏”，让更多优质国内原创游戏厂商参与竞赛。
                </p>
                <p>
                    2015年是中国原创动漫IP的爆发年，动漫业产值突破1000亿元。在移动互联的推动下，高质量的动漫表情IP广受好评，价值空间凸显。对此，金龙奖组委会主任金城指出，动漫表情IP如此的流行离不开作者的“走心”创作。他希望在互联网推动下，好的作品能更好的触动人心，直达心灵最柔软的部分，给予用户惊喜、幸福、感动的美感。
                </p>
                <p>
                    本届金龙奖的截稿期为7月31日，投稿方式除了可以采用传统的信函邮寄，还能通过登录指定投稿平台漫画岛上传、发送电子邮件的方式，详细奖项设置、参赛细则及投稿方法等可见金龙奖官方网站。
                </p>
                <p>
                    详情请浏览以下网址：
                </p>
                <p>
                    金龙奖官方网站：cacc.comicfans.net
                </p>
                <p>
                    指定漫画征集平台：漫画岛 cacc.manhuadao.cn
                </p>
                <p>
                    指定表情征集平台：微信表情开放平台
                </p>
                <p>
                    指定动画征集平台：暂缺
                </p>
                <p>
                    指定游戏征集平台：暂缺
                </p>
                <p>信函投稿地址：广东省广州市先烈中路80号汇华商贸大厦附楼七层 中国动漫金龙奖组委会收  邮编：510075</p>
                <p>
                    大赛官方QQ：622000432
                </p>
                <p>
                    大赛官方邮箱：cacc@vip.126.com
                </p>
                <p>
                    咨询电话：020-37616078、020-87608715-106、
                </p>
                <p>大赛官方微博：@@中国动漫金龙奖</p>
                <p>大赛官方微信：中国动漫金龙奖</p>
                <p>咨询时间：周一至周五9:00-18:00，节假日除外</p>
            </div>

        </div>
    </div>

</div>
<!-- banner end -->
