@{
    ViewBag.Title = "出错啦！";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="error-box error-box2" style="width:100%;height:100%">
    <div class="icon"></div>
    <div class="text">出错啦！<br />程序猿和工程狮正在紧张解决中~</div>
</div>